@model IEnumerable<HouseMangment.Entity.Users>


<h2>Users Report</h2>

<div class="table-responsive">
    <table class="table table-striped">
        <thead>
            <tr>
                <th>Emp ID</th>
                <th>Name</th>
                <th>Phone Number</th>
                <th>User Name</th>
                <!-- Add more columns as needed -->
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Id)</td>
                    <td>@Html.DisplayFor(modelItem => item.name)</td>
                    <td>@Html.DisplayFor(modelItem => item.phone)</td>
                    <td>@Html.DisplayFor(modelItem => item.username)</td>
                    <!-- Add more columns as needed -->
                </tr>
            }
        </tbody>
    </table>
</div>
